@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Limelight&display=swap');

#MM {
    font-family: 'Kodchasan';
    font-size: 40px;
    font-weight: 900;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    border: 1px solid #333;
    background-color: #333;
    padding: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: 333;


}

.nav-menu a {
    text-decoration: none;
    color: white;

}

strong {
    font-family: 'Kodchasan';
    font-size: 15px;
}

#footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    border: 1px solid #333;
    background-color: #333;
    padding: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: 333;
    color: white;

}