
.dashboard-container {
  text-align: left;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  gap: 15px; /* space between links */
}

.dashboard-link {
  display: flex;
  align-items: center;
  gap: 10px; /* space between icon and text */
  text-decoration: none; /* removes underline */
  color: black;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.2s;
  font-size:40px;
}

.dashboard-link:hover {
  background-color: #f0f0f0;
}

.dashboard-icon {
  width: 50px;   /* set desired icon size */
  height: 50px;
  object-fit: contain;
  
}
