.home-page-background {
  width: 100vw; 
  height: 100vh; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  position: relative; 
  overflow: hidden; 

}

.app-name {
  text-align: center;
  font-size: 4rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 30px 0;
  font-weight: bolder;
  letter-spacing: 1px;
  
 
}
.map-your-wealth{
  text-align: center;
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 30px 0;
  font-weight: bolder;
  letter-spacing: 1px;
  

}
