body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}




.container {
  position: absolute;
  right: 0;
  margin: 50px;
  max-width: 400px;
  padding: 56px;
  background-color:silver;
}

/* Full-width input fields */
  input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 2;
}
h1 {
  font-family:sans-serif;
  text-align: left;
}


