body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}




.container {
  position: absolute;
  right: 0;
  
  margin: 20px 20px;
  max-width: 400px;
  padding: 46px;
  background-color:silver;
  min-height: 500px;
}


/* Apply same focus style to all inputs */
input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  outline: none; /* remove default focus outline */
  border: 2px solid transparent; /* optional for smooth effect */
  transition: border 0.2s;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border: 2px solid #04AA6D; /* your desired focus color */
  background-color:white; /* optional subtle background change */
}


.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 20px;
}

.btn:hover {
  opacity: 2;
}
h1 {
  font-family:sans-serif;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -15px;
}


